

@{
    ViewData["Title"] = "ADMIN";
}
<style>
    #preview {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }
    #preview2 {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }
    #preview3 {
        max-height: 150px;
        min-height: 150px;
        max-width: 220px;
        min-width: 220px;
    }
</style>
<div class="container">
    @if (User.IsInRole("Administrator"))
    {
        <form>
            <div class="form-group">
                <br />
                <label for="article">Правозащитный союз Украины - </label>
                <textarea cols="30" rows="10" class="form-control text-area-article" id="MCE" required></textarea>
                <label for="article">Миссия союза</label>
                <textarea cols="30" rows="10" class="form-control text-area-article" id="MISSION" required></textarea>
                <label for="uploads">Цели и задачи</label>
                <textarea cols="30" rows="10" class="form-control text-area-article" id="GOALS" required></textarea>
                <div></div>
                <hr>
            </div>
            <input type="submit" id="info-btn" value="Опубликовать" />
        </form>
        <br />
        <br />
        <h2>
            Состав Союза
        </h2>
        <form name="UploadCrew" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="PostCrew">
            <div class="form-group">
                <label>лого</label><br />
                <img id="preview2" src="http://www.adbazar.pk/frontend/images/default-image.jpg" alt="your image" />
                <input type='file' name="uploads" multiple onchange="readURL2(this);" />
            </div>
            <div class="form-group">
                <label>описание</label>
                <textarea cols="30" rows="10" class="form-control text-area-article" name="Text" required></textarea>
                <input type="submit" value="Опубликовать" />
            </div>
        </form>
        <div class="clear"></div>
        <hr>
        <br />
        <br />
        <h2>
            Партнеры
        </h2>
        <form name="UploadTeamMember" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="PostTeamMember">
            <div class="form-group">
                <label>лого</label><br />
                <img id="preview3" src="http://www.adbazar.pk/frontend/images/default-image.jpg" alt="your image" />
                <input type='file' name="uploads" multiple onchange="readURL3(this);" />
            </div>
            <div class="form-group">
                <label>описание</label>
                <textarea cols="30" rows="10" class="form-control text-area-article" name="Text" required></textarea>
                <input type="submit" value="Опубликовать" />
            </div>
        </form>
        <div class="clear"></div>
        <hr>

    }
</div>
@section Scripts{

    <script>
        tinymce.init({
            selector: '#MCE, #MISSION, #GOALS, #CREW',
            plugins: [
                'advlist autolink list link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools image'
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image" | "image",
            toolbar2: 'print preview media | forecolor backcolor emotions | code',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.setAttribute('name', 'files');
                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();

                    reader.onload = function () {
                        var dataUrl = reader.result;
                        var base64 = dataUrl.split(',')[1];
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };
                input.click();
            }
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview')
                        .attr('src', e.target.result)
                        .width(180)
                        .height(100);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview2')
                        .attr('src', e.target.result)
                        .width(180)
                        .height(100);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview3')
                        .attr('src', e.target.result)
                        .width(180)
                        .height(100);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#info-btn').click(function () {
            var obj = new Object();
            
            var mce = $('#MCE').tinymce().getContent();
            var mission = $('#MISSION').tinymce().getContent();
            var goals = $('#GOALS').tinymce().getContent();
            
            obj.mce = mce;
            obj.mission = mission;
            obj.goals = goals;
            
            $.ajax({
                type: "POST",
                url: "/Admin/Info",
                data: obj,
                success: function (data) {
                    location.reload();
                }
            });
        });
    </script>

}

