
@{
    ViewData["Title"] = "Media";
}

<div class="container">
    <form name="UploadMedia" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="PostMedia">
        <div class="form-group">
            <br />
            <textarea cols="10" placeholder="название источника" rows="3" class="form-control text-area-article" name="Name" required></textarea>
            <br />
            <br />
            <textarea cols="10" placeholder="ссылка на источник" rows="5" class="form-control text-area-article" name="Ref" required></textarea>
            <br />

            <textarea cols="30" placeholder="Текст статьи" rows="10" class="form-control text-area-article" name="Text" required></textarea>
            <br />
            <div></div>
            <input type="date" name="dat" required>
            <br />

            <input type="submit" class="btn btn-danger" value="Опубликовать" />
        </div>
    </form>
</div>






<script>
    tinymce.init({
        selector: '#MCE, #MISSION, #GOALS, #CREW',
        plugins: [
            'advlist autolink list link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools image'
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image" | "image",
        toolbar2: 'print preview media | forecolor backcolor emotions | code',
        image_title: true,
        automatic_uploads: true,
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.setAttribute('name', 'files');
            input.onchange = function () {
                var file = this.files[0];

                var reader = new FileReader();

                reader.onload = function () {
                    var dataUrl = reader.result;
                    var base64 = dataUrl.split(',')[1];
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        }
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview')
                    .attr('src', e.target.result)
                    .width(180)
                    .height(100);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview2')
                    .attr('src', e.target.result)
                    .width(180)
                    .height(100);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview3')
                    .attr('src', e.target.result)
                    .width(180)
                    .height(100);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#info-btn').click(function () {
        var obj = new Object();

        var mce = $('#MCE').tinymce().getContent();
        var mission = $('#MISSION').tinymce().getContent();
        var goals = $('#GOALS').tinymce().getContent();
        var dat = $("#custom_date").val();

        obj.mce = mce;
        obj.mission = mission;
        obj.goals = goals;
        obj.dat = dat;
        $.ajax({
            type: "POST",
            url: "/Admin/Info",
            data: obj,
            success: function (data) {
                location.reload();
            }
        });
    });</script>
