<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400,400i,700,700i" rel="stylesheet">
    <title>Правозахисна спілка України</title>
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<style>

    a:hover {
        text-decoration: none;
    }

    .row {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .container {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    .container-fluid {
        margin: 0% auto !important;
        padding: 0% !important;
    }

    body {
        margin: 0% auto !important;
        padding: 0% !important;
        background: none;
        font-family: 'Roboto', sans-serif;
    }

    .clear {
        clear: both;
    }

    .myNavbar-stripe {
        background-color: #ffffff;
        height: 1px;
    }

    footer {
        background: rgb(232, 232, 232);
        margin-top: 5px;
        font-family: 'Roboto', sans-serif;
    }

    .myBrand-header {
        background: rgb(23, 175, 240);
        height: 105px;
    }

    .position-header {
        margin-top: 10px;
    }

    .navbar {
        border-radius: 0px;
        border-style: none;
        font-weight: 500;
        font-size: 21px;
        font-family: 'Roboto', sans-serif;
        background-color: rgb(23, 175, 240);
    }

    .navbar-collapse {
        padding-right: 0%;
        padding-left: 0%;
        margin-left: 66px;
    }

    .navbar-nav > li > a:hover {
        color: white !important;
    }

    .myBrand {
        font-size: 21px;
    }

    .center {
        display: flex;
        align-items: center;
    }

    .nav-li {
        color: #ffffff !important;
        height: 50px;
        margin-top: 4px;
    }

    .foot {
        padding-top: 5px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 40px;
        line-height: 40px;
        margin: 0% auto !important;
    }


    .nav-li-foot {
        color: rgb(178, 178, 177);
        font-weight: 500;
        font-size: 35px;
    }

    .nav {
        margin-bottom: 0%;
    }

    .brand {
        width: 80px !important;
        height: 85px !important;
        float: left;
        margin-right: 20px;
        margin-left: -20px;
    }

    .center {
        text-align: center !important;
    }

    .brand-text {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .hot-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: rgb(86, 119, 155);
    }

    .numbers {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: rgb(86, 119, 155);
        margin-right: 20px;
        float: left;
    }

    .line {
        float: left;
    }

    .hot-line {
        margin-top: 20px;
        float: right;
    }

    .hot-icon {
        margin-top: -20px;
        width: 50px;
        height: 50px;
    }

    .fb-foot {
        margin-top: 10px;
    }

    .fb-page {
        float: right;
    }
</style>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.0&appId=2034706566791196&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="myBrand-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 position-header">
                    <a class="col-lg-9" asp-controller="Home" asp-action="Index">
                        <img class="brand" src="~/images/brand.png" />
                        <p class="brand-text">ПРАВОЗАЩИТНЫЙ СОЮЗ УКРАИНЫ</p>
                    </a>
                    <div class="hot-line col-lg-3">
                        <div class="hot-text">ГОРЯЧАЯ ЛИНИЯ:</div>
                        <div class="numbers">095-103-87-68</div>
                        <img class="hot-icon" src="http://aziamost.com/assets/images/icon/tel_icon.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="myNavbar-stripe"></div>
    <nav class="nav navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav center">
                            <li><a class="nav-li" asp-controller="News" asp-action="News">НОВОСТИ</a></li>
                            <li><a class="nav-li" asp-controller="Projects" asp-action="Index">ПРОЕКТЫ</a></li>
                            <li><a class="nav-li" asp-controller="Video" asp-action="Index">ВИДЕО</a></li>
                            <li><a class="nav-li" asp-controller="AboutUnion" asp-action="Index">О СОЮЗЕ</a></li>
                            <li><a class="nav-li" asp-controller="Media" asp-action="Index">СМИ О НАС</a></li>
                            <li><a class="nav-li" asp-controller="Contacts" asp-action="Index">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a class="nav-li" asp-controller="Admin" asp-action="Carousel">слайдер</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="News">новости</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="Projects">проекты</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="Video">видео</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="AboutUnion">о союзе</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="Media">сми о нас</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="FaceBook">facebook</a></li>
                            <li><a class="nav-li" asp-controller="Admin" asp-action="Contacts">contacts</a></li>
                            <li class="nav-li">
                                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                    <input class="navbar-link" type="submit" value="Выйти" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="foot col-lg-6">

                        <div>
                            <a class="nav-li-foot" asp-controller="News" asp-action="News">НОВОСТИ</a>
                            <div></div>
                            <a class="nav-li-foot" asp-controller="Projects" asp-action="Index">ПРОЕКТЫ</a>
                            <div></div>
                            <a class="nav-li-foot" asp-controller="Video" asp-action="Index">ВИДЕО</a>
                            <div></div>
                            <a class="nav-li-foot" asp-controller="AboutUnion" asp-action="Index">О СОЮЗЕ</a>
                            <div></div>
                            <a class="nav-li-foot" asp-controller="Media" asp-action="Index">СМИ О НАС</a>
                            <div></div>
                            <a class="nav-li-foot" asp-controller="Contacts" asp-action="Index">КОНТАКТЫ</a>
                        </div>
                        <a asp-controller="Home" asp-action="Index">
                            <img style="width:200px;height:300px; margin-left:-15px;" src="~/images/logo.jpg" />
                        </a>
                    </div>
                    <div class="fb-foot col-lg-6">
                        <div class="fb-page" data-href="https://www.facebook.com/east.hr.group/" data-tabs="timeline,events,messages" data-width="320" data-height="480" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/east.hr.group/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/east.hr.group/">Восточная Правозащитная Группа</a></blockquote></div>
                    </div>
                    <div class="clear"></div>
                    <div>© 2018 Все права защищены</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/jquery.tinymce.min.js"></script>
    <script src="~/js/tinymce.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
