@model WebApp.ViewModels.StartPageViewModel
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
    .form {
        padding: 5%;
        background: #ffffff;
        box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
        max-width: 620px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
    }
    .container-fluid {

    }
    .form-control {
        border-radius: 0%;
        border: white;
        background: #dbdbdb;
    }

    .btn-send-email {
        border-radius: 0%;
        box-shadow: 2px 2px 2px #333;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
    }
</style>
<div class="form">
    <div class="text">
        @Html.Raw(Model.Info.Text)
        <br />
        @if(User.IsInRole("Administrator"))
        {
            <a href='@Url.Action("Contacts", "Admin")' class="alert-warning">редактировать</a>

        }
        <hr />
    </div>
    <br />
    <form asp-controller="Contacts" asp-action="SendMessage" method="post" id="reused_form">
        <input id="name" placeholder="ИМЯ" type="text" class="form-control" name="Name" required maxlength="50">
        <br />
        <input id="email" placeholder="EMAIL" class="form-control" type="email" name="UserEmail" required maxlength="70">
        <br />
        <input id="phone" placeholder="ТЕЛЕФОН" class="form-control" type="tel" name="Phone" required>
        <br />
        <textarea id="message" placeholder="ТЕКСТ СООБЩЕНИЯ" class="form-control" name="Message" rows="10" maxlength="6000" required></textarea>
        <br />
        <input class="btn btn-send-email" type="submit" value="Отправить" />
    </form>
</div>
