
<style>
    .form {
        padding: 5%;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        max-width: 620px;
        margin: auto;
    }
</style>
<div class="form">
    <h1>Свяжитеcь с нами</h1>
    <br />
    <form asp-controller="Contacts" asp-action="SendMessage" method="post" id="reused_form">
        <label for="name">Ваше Имя:</label>
        <input id="name" type="text" class="form-control" name="Name" required maxlength="50">

        <label for="email">Ваш Email:</label>
        <input id="email" class="form-control" type="email" name="UserEmail" required maxlength="70">
        <label for="phone">Ваш телефон:</label>
        <input id="phone" class="form-control" type="tel" name="Phone" required>
        <label for="message">Сообщение:</label>
        <textarea id="message" class="form-control" name="Message" rows="10" maxlength="6000" required></textarea>
        <br />
        <input class="btn btn-primary btn-send-email" type="submit" value="Отправить" />
    </form>
</div>
<br />
