a:hover {
    text-decoration: none;
}

.row {
    margin: 0% auto !important;
    padding: 0% !important;
}

.container {
    margin: 0% auto !important;
    padding: 0% !important;
}

.container-fluid {
    margin: 0% auto !important;
    padding: 0% !important;
}

body {
    margin: 0% auto !important;
    padding: 0% !important;
    background: none;
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.myNavbar-stripe {
    background-color: #ffffff;
    height: 1px;
}

footer {
    background-color: rgb(238, 238, 239);
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

.myBrand-header {
    background: rgb(23, 175, 240);
    height: 85px;
}

.navbar {
    border-radius: 0px;
    border-style: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    background-color: rgb(23, 175, 240);
}

.navbar-collapse {
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 66px;
}

.navbar-nav > li > a:hover {
    color: white !important;
}

.myBrand {
    font-size: 21px;
}

.center {
    display: flex;
    align-items: center;
}

.nav-li {
    color: #ffffff !important;
    height: 50px;
    margin-top: 4px;
}

.foot {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 40px;
}

.nav-li-foot {
    color: #9f9f9f;
}

.brand {
    width: 80px;
    height: 85px;
    float: left;
    margin-right:5px;
    margin-left:-20px;
}

.center {
    text-align: center !important;
}

.brand-text {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 400;
}
.hot-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(86, 119, 155);

}
.numbers {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(86, 119, 155);
    margin-right:20px;
    float:left;
}
.line {
    float:left;
}
.hot-line {
    margin-top:20px;
    float:right;
}

.hot-icon {
    margin-top: -20px;
    width:50px; 
    height:50px;
}